Импортируем нужные библиотеки

In [1]:
import pandas as pd
df = pd.read_csv('visits.csv',sep = ';')

Выводим первые 20 строк датасета

In [3]:
df.head()

,User_Id,Region,Device,Channel,Session_Start,SESSION_End
0,"9,81449E+11",United States,iPhone,organic,01.05.2019 2:36,01.05.2019 2:45
1,"2,78966E+11",United States,iPhone,organic,01.05.2019 4:46,01.05.2019 4:47
2,"5,90706E+11",United States,Mac,organic,01.05.2019 14:09,01.05.2019 15:32
3,"3,26434E+11",United States,Android,TipTop,01.05.2019 0:29,01.05.2019 0:54
4,"3,49774E+11",United States,Mac,organic,01.05.2019 3:33,01.05.2019 3:57

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957 entries, 0 to 956
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User_Id        957 non-null    object
 1   Region         956 non-null    object
 2   Device         955 non-null    object
 3   Channel        957 non-null    object
 4   Session_Start  955 non-null    object
 5   SESSION_End    955 non-null    object
dtypes: object(6)
memory usage: 45.0+ KB

In [7]:
df.describe

<bound method NDFrame.describe of          User_Id         Region   Device   Channel     Session_Start  \
0    9,81449E+11  United States   iPhone   organic   01.05.2019 2:36
1    2,78966E+11  United States   iPhone   organic   01.05.2019 4:46
2    5,90706E+11  United States      Mac   organic  01.05.2019 14:09
3    3,26434E+11  United States  Android    TipTop   01.05.2019 0:29
4    3,49774E+11  United States      Mac   organic   01.05.2019 3:33
..           ...            ...      ...       ...               ...
952  5,55066E+11  United States   iPhone    TipTop  04.05.2019 23:32
953  7,71716E+11  United States  Android    TipTop  04.05.2019 19:32
954  74352279110  United States   iPhone    TipTop   04.05.2019 0:13
955  6,08683E+11  United States  Android  FaceBoom   04.05.2019 3:33
956  8,75326E+11  United States      Mac   organic   04.05.2019 3:01

          SESSION_End
0     01.05.2019 2:45
1     01.05.2019 4:47
2    01.05.2019 15:32
3     01.05.2019 0:54
4     01.05.2019 3:57
..                ...
952  04.05.2019 23:38
953  04.05.2019 19:48
954   04.05.2019 0:26
955   04.05.2019 3:46
956   04.05.2019 3:15

[957 rows x 6 columns]>

In [25]:
df['User_Id'] = df['User_Id'].apply(lambda x: int(float(x.replace(',','.'))))
print(df)

          User_Id         Region   Device   Channel     Session_Start  \
0    981449000000  United States   iPhone   organic   01.05.2019 2:36
1    278966000000  United States   iPhone   organic   01.05.2019 4:46
2    590706000000  United States      Mac   organic  01.05.2019 14:09
3    326434000000  United States  Android    TipTop   01.05.2019 0:29
4    349774000000  United States      Mac   organic   01.05.2019 3:33
..            ...            ...      ...       ...               ...
952  555066000000  United States   iPhone    TipTop  04.05.2019 23:32
953  771716000000  United States  Android    TipTop  04.05.2019 19:32
954   74352279110  United States   iPhone    TipTop   04.05.2019 0:13
955  608683000000  United States  Android  FaceBoom   04.05.2019 3:33
956  875326000000  United States      Mac   organic   04.05.2019 3:01

          SESSION_End
0     01.05.2019 2:45
1     01.05.2019 4:47
2    01.05.2019 15:32
3     01.05.2019 0:54
4     01.05.2019 3:57
..                ...
952  04.05.2019 23:38
953  04.05.2019 19:48
954   04.05.2019 0:26
955   04.05.2019 3:46
956   04.05.2019 3:15

[957 rows x 6 columns]